<div class="vin-user">
  <div class="row">
    <div class="col-xl-6 connect-vin d-flex flex-column">
      <div class="image">
        <img src="/assets/img/introduce/card-blue.png" alt="" srcset="" />
      </div>
      <h6>Tài khoản của bạn chưa kết nối thẻ VinID</h6>
      <p>Hãy kết nối ngay hôm nay để được hưởng ưu đãi.</p>
      <div class="action d-flex justify-content-around">
        <button class="btn-connect">Kết nối thẻ</button>
        <button class="btn-register">Đăng ký ngay</button>
      </div>
    </div>
    <div
      class="col-xl-6 
    interest-vin d-flex flex-column"
    >
      <div class="image">
        <img
          src="/assets/img/introduce/VinID-Card-Illustration.svg"
          alt=""
          srcset=""
        />
      </div>
      <h6>Quyền lợi khi bạn sử dụng thẻ VinID</h6>
      <div class="endow">
        <div
          class="item-endow d-flex align-items-center"
          *ngFor="let item of list"
        >
          <i class="fas fa-check"></i>
          <span>{{ item }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
