.item-cart {
  width: 100%;
  background: white;
  margin-bottom: 10px;
  padding-bottom: 1rem;
  .img-item {
    width: 90px;
    margin-right: 10px;
  }
  .body-item {
    width: 240px;
    .name {
      width: 60%;
      font-size: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .fa-trash-alt {
      color: #e8eaee;
      font-size: 1.5rem;
    }
    .info {
      .price {
        font-size: 0.9rem;
        color: #e53935;
        font-weight: 600;
      }
      .quanlity {
        font-size: 0.9rem;
        border: 1px gray solid;
        border-radius: 5px;
        width: 32px;
        height: 32px;
      }
    }
  }
}
