.userOrder {
  border: #e8eaee 10px solid;
  border-right: none;
  border-left: none;
  background: white;
  padding: 1rem 10px;
  .title {
    border-bottom: 1px gray solid;
    padding: 1rem 0;
    h3 {
      font-weight: 600;
    }
    label {
      font-size: 0.9rem;
      color: gray;
      padding-top: 5px;
    }
    select {
      height: 32px;
      width: 9rem;
      background: white;
      font-size: 0.9rem;
      margin: 0 10px;
    }
    button {
      background: white;
      font-size: 0.8rem;
      color: gray;
      border: 1px gray solid;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;
      height: 32px;
      width: 25px;
    }
    input {
      border: 1px gray solid;
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 8rem;
      font-size: 0.9rem;
    }
  }
  .bodyOrderNotExist {
    img {
      display: block;
      margin: 1rem auto;
    }
    p {
      text-align: center;
      color: gray;
    }
  }
}
.itemBodyOrder {
  margin: 2rem 0;
  .headItem {
    padding: 10px 1rem;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    span {
      margin: 5px 0;
      i {
        font-size: 1.5rem;
        width: 2.5rem;
        color: gray;
      }
      font-weight: 600;
      font-size: 0.9rem;
      color: #375aab;
    }
  }
}
