.findProduct {
  padding: 2rem 0;
  h2 {
    span {
      font-weight: 600;
    }
  }
  .findProduct-mennu {
    border: 1px #e8eaee solid;
    border-radius: 5px;
    margin: 2rem 0;
    .mennuFind {
      .title {
        color: gray;
      }
      .mennuItem {
        li {
          margin: 0 15px;
          height: 3.5rem;
          transition: 0.4s;
        }
        li:hover {
          border-bottom: 3px #e53935 solid;
          color: #e53935;
        }
      }
    }
  }
  .deco-mennu {
    span {
      font-size: 0.9rem;
      color: gray;
    }
    input {
      width: 45px;
      height: 30px;
      text-align: center;
    }
    button {
      width: 34px;
      height: 30px;
      background: white;
    }
    .btn-pre {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .btn-next {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
